<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/reset.css" />
		<link rel="stylesheet" href="../static/css/normalize.css" />
		<link rel="stylesheet" href="../static/css/index_header.css" />
		<link rel="stylesheet" href="../static/css/index_main.css" />
		<link rel="stylesheet" href="../static/css/fonts.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<a href="#"><img src="../static/logo/logo.png" alt="logo" /></a>
			<ul>
				<li><a href="#">Features</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="buy">
				<div class="cart">
					<p>Cart</p>
					<p class="cart__number">12</p>
				</div>
				<button class="sign-up">Sign up for Beta</button>
			</div>
		</header>
		<main class="main">
			<div class="container">
				<section class="start">
					<div class="start-left">
						<h1>Transform your teamwork with a powerful design tool</h1>
						<p>
							Stop wasting time with clunky, siloed teamwork. Get every
							stakeholder on the same page with a design tool that help you work
							better, faster.
						</p>
						<div class="start__actions">
							<a href="#"
								><button class="start__button">Start your free trial</button></a
							>
							<img src="../static/img/no_credit.png" alt="no_credit" />
						</div>
					</div>
					<img
						src="../static/img/start_right.png"
						alt="start_right"
						class="start-right"
					/>
				</section>
				<section class="tearms">
					<h2>More than 100,000+ teams are using Collab</h2>
					<ul>
						<li>
							<a href="#"
								><img src="../static/img/tearms1.png" alt="tearms1"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms2.png" alt="tearms2"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms3.png" alt="tearms3"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms4.png" alt="tearms4"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms5.png" alt="tearms5"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms6.png" alt="tearms6"
							/></a>
						</li>
					</ul>
				</section>
				<section class="features">
					<h2>Features that get you results</h2>
					<p>
						Transform how your teams collaborate. Brainstorm together, develop
						strategies and build ads that guarantee customers.
					</p>
					<div class="features__cards">
						<div class="features__card">
							<img src="../static/img/card1.png" alt="card" />
							<p>Live Collaboration</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card2.png" alt="card" />
							<p>1M+ Templates</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card3.png" alt="card" />
							<p>Searchable Assets</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card4.png" alt="card" />
							<p>Unlimited Reviewers</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card5.png" alt="card" />
							<p>Notifications</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card6.png" alt="card" />
							<p>Responsive Design</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card7.png" alt="card" />
							<p>Multiple media support</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card8.png" alt="card" />
							<p>Version history</p>
						</div>
					</div>
				</section>
				<section class="coll-ship-faster">
					<img src="../static/img/coll.png" alt="coll" />
					<div class="coll-ship-faster__info">
						<h2>Collaborate and ship designs faster</h2>
						<p>
							Work on files together in real-time, and review and get feedback
							without the back and forth.
						</p>
						<div class="coll-ship-faster__pluses">
							<p>Produce more ads without spending more time</p>
							<p>Get notified about comments and status updates</p>
							<p>Have one single source of truth for all design</p>
						</div>
						<a href="#"><button>Learn More</button></a>
					</div>
				</section>
				<section class="build">
					<div class="build__info">
						<h2>Build impactful creatives easily</h2>
						<p>
							Track all changes made in a glance, add sticky notes and get the
							best minds on your team to work together.
						</p>
						<div class="build__pluses">
							<img src="../static/img/ebalo.png" alt="ebalo" />
							<div>
								<p>
									“Collab helps us to organize our work professionally and
									effectively”
								</p>
								<p>Robert Mayar - Founder of Airbnb</p>
							</div>
						</div>
						<a href="#"><button>Learn More</button></a>
					</div>
					<img src="../static/img/build.png" alt="build" class="build__right" />
				</section>
				<section class="access">
					<img src="../static/img/access.png" alt="access" />
					<div class="access__info">
						<h2>Get access to premium licensed videos, photos and gifs</h2>
						<p>
							Access a library of icons, videos, photos and gifs by the best
							creators in the world in one centralized place for all design
							needs for your entire team.
						</p>
						<span class="access__grey-line"></span>
						<ul>
							<li>
								<a href="#"
									><img src="../static/img/tearms1.png" alt="tearms1"
								/></a>
							</li>
							<li>
								<a href="#"
									><img src="../static/img/tearms2.png" alt="tearms2"
								/></a>
							</li>

							<li>
								<a href="#"
									><img src="../static/img/tearms4.png" alt="tearms4"
								/></a>
							</li>
							<li>
								<a href="#"
									><img src="../static/img/tearms3.png" alt="tearms3"
								/></a>
							</li>
							<li>
								<a href="#"
									><img src="../static/img/tearms5.png" alt="tearms5"
								/></a>
							</li>
							<li>
								<a href="#"
									><img src="../static/img/tearms6.png" alt="tearms6"
								/></a>
							</li>
						</ul>
					</div>
				</section>
				<section class="collab">
					<h2>Collab is simple, fast and fun</h2>
					<div class="collab__cards">
						<div class="collab_card">
							<img src="../static/img/collabCard1.png" alt="card" />
							<h3>Connect with your team</h3>
							<p>
								Collaborate on designs in multiple ways--by commenting,
								co-working, chatting and jumping on quick huddles.
							</p>
						</div>
						<div class="collab_card">
							<img src="../static/img/collabCard2.png" alt="card" />
							<h3>Build high-converting ads</h3>
							<p>
								Use different formats and pre-built templates, and make
								marketing creatives without starting from scratch.
							</p>
						</div>
						<div class="collab_card">
							<img src="../static/img/collabCard3.png" alt="card" />
							<h3>Organize and share</h3>
							<p>
								Set up folders, manage permissions, vote on creatives and
								time-box work with Collab.
							</p>
						</div>
					</div>
				</section>
				<section class="teams-saying">
					<h2>Hear what teams around the world saying about Collab.</h2>
					<div class="teams-saying__info">
						<img
							src="../static/img/marksUp.png"
							alt="marksUp"
							class="marksUp"
						/>
						<div class="review">
							<ul>
								<li><img src="../static/img/stars.png" alt="star" /></li>
								<li><img src="../static/img/stars.png" alt="star" /></li>
								<li><img src="../static/img/stars.png" alt="star" /></li>
								<li><img src="../static/img/stars.png" alt="star" /></li>
								<li><img src="../static/img/stars.png" alt="star" /></li>
								<li><img src="../static/img/starsEmpty.png" alt="star" /></li>
							</ul>
							<p class="review__text">
								I want my team to spend time thinking about high level UX
								problems, rather than mindlessly repeating busy work. Collab
								helps them do that.
							</p>
							<p class="review__autor">Robert Mayar - Founder of Airbnb</p>
							<div class="review__img">
								<img src="../static/img/ebalo2.png" alt="autor img" />
								<div class="review__arows">
									<img
										src="../static/img/arrowLeft.png"
										alt="arrow left"
										class="arrowLeft"
									/>
									<img src="../static/img/arrowRight.png" alt="arrow right" />
								</div>
							</div>
						</div>
						<img
							src="../static/img/marksDown.png"
							alt="marksDown"
							class="marksDown"
						/>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>
