<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/reset.css" />
		<link rel="stylesheet" href="../static/css/normalize.css" />
		<link rel="stylesheet" href="../static/css/index_header.css" />
		<link rel="stylesheet" href="../static/css/index_main.css" />
		<link rel="stylesheet" href="../static/css/fonts.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<a href="#"><img src="../static/logo/logo.png" alt="logo" /></a>
			<ul>
				<li><a href="#">Features</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="buy">
				<div class="cart">
					<p>Cart</p>
					<p class="cart__number">12</p>
				</div>
				<button class="sign-up">Sign up for Beta</button>
			</div>
		</header>
		<main class="main">
			<div class="container">
				<section class="start">
					<div class="start-left">
						<h1>Transform your teamwork with a powerful design tool</h1>
						<p>
							Stop wasting time with clunky, siloed teamwork. Get every
							stakeholder on the same page with a design tool that help you work
							better, faster.
						</p>
						<div class="start__actions">
							<a href="#"
								><button class="start__button">Start your free trial</button></a
							>
							<img src="../static/img/no_credit.png" alt="no_credit" />
						</div>
					</div>
					<img
						src="../static/img/start_right.png"
						alt="start_right"
						class="start-right"
					/>
				</section>
				<section class="tearms">
					<h2>More than 100,000+ teams are using Collab</h2>
					<ul>
						<li>
							<a href="#"
								><img src="../static/img/tearms1.png" alt="tearms1"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms2.png" alt="tearms2"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms3.png" alt="tearms3"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms4.png" alt="tearms4"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms5.png" alt="tearms5"
							/></a>
						</li>
						<li>
							<a href="#"
								><img src="../static/img/tearms6.png" alt="tearms6"
							/></a>
						</li>
					</ul>
				</section>
				<section class="features">
					<h2>Features that get you results</h2>
					<p>
						Transform how your teams collaborate. Brainstorm together, develop
						strategies and build ads that guarantee customers.
					</p>
					<div class="features__cards">
						<div class="features__card">
							<img src="../static/img/card1.png" alt="card" />
							<p>Live Collaboration</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card2.png" alt="card" />
							<p>1M+ Templates</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card3.png" alt="card" />
							<p>Searchable Assets</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card4.png" alt="card" />
							<p>Unlimited Reviewers</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card5.png" alt="card" />
							<p>Notifications</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card6.png" alt="card" />
							<p>Responsive Design</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card7.png" alt="card" />
							<p>Multiple media support</p>
						</div>
						<div class="features__card">
							<img src="../static/img/card8.png" alt="card" />
							<p>Version history</p>
						</div>
					</div>
				</section>
				<section class="coll-ship-faster">
					<img src="../static/img/coll.png" alt="coll" />
					<div class="coll-ship-faster__info">
						<h2>Collaborate and ship designs faster</h2>
						<p>
							Work on files together in real-time, and review and get feedback
							without the back and forth.
						</p>
						<div class="coll-ship-faster__pluses">
							<p>Produce more ads without spending more time</p>
							<p>Get notified about comments and status updates</p>
							<p>Have one single source of truth for all design</p>
						</div>
						<a href="#"><button>Learn More</button></a>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>
