.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

main {
  margin-top: 70px;
}

.start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 617px;
}
.start .start-left {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
}
.start .start-left h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 63px;
  line-height: 79px;
  width: 100%;
  max-width: 470px;
}
.start .start-left p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  width: 100%;
  max-width: 495px;
  letter-spacing: 0.36px;
}
.start .start-left .start__actions {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 455px;
  width: 100%;
}
.start .start-left .start__actions a {
  width: 100%;
  max-width: 240px;
}
.start .start-left .start__actions button {
  width: 100%;
  height: 59px;
  background-color: rgb(63, 83, 216);
  border-radius: 14px;
  border: 0px solid;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.tearms {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 155px;
}
.tearms h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
}
.tearms ul {
  display: flex;
  justify-content: space-beetwen;
  align-items: center;
  flex-wrap: wrap;
}

.features {
  margin-top: 150px;
  display: flex;
  justify-content: space-beetwen;
  align-items: center;
  flex-direction: column;
}
.features h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 43px;
  line-height: 56px;
}
.features p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
.features .features__cards {
  margin-top: 110px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.features .features__cards .features__card {
  width: 100%;
  max-width: 230px;
  display: flex;
  justify-content: space-berween;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}
.features .features__cards .features__card img {
  margin-bottom: 30px;
}
.features .features__cards .features__card p {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.coll-ship-faster {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coll-ship-faster h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100%;
  max-width: 410px;
  font-weight: 400;
  font-weight: 400;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 1.44px;
}
.coll-ship-faster .coll-ship-faster__info > p {
  margin-top: 27px;
  width: 100%;
  max-width: 420px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #545479;
}
.coll-ship-faster .coll-ship-faster__pluses {
  margin-top: 35px;
}
.coll-ship-faster .coll-ship-faster__pluses p {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.36px;
  margin-bottom: 20px;
  margin-left: 35px;
}
.coll-ship-faster .coll-ship-faster__pluses p:nth-child(2) {
  font-size: 18px;
}
.coll-ship-faster button {
  margin-top: 48px;
  width: 100%;
  max-width: 174px;
  border: 0;
  border-radius: 14px;
  background-color: #3f53d8;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.build {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.build > img {
  width: 760px;
}
.build h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100%;
  max-width: 410px;
  font-weight: 400;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 1.44px;
}
.build .build__info > p {
  margin-top: 27px;
  width: 100%;
  max-width: 420px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #545479;
}
.build .build__pluses {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.build .build__pluses p {
  width: 100%;
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.36px;
  margin-left: 24px;
}
.build .build__pluses p:nth-child(1) {
  margin-bottom: 15px;
}
.build button {
  margin-top: 48px;
  width: 100%;
  max-width: 174px;
  border: 0;
  border-radius: 14px;
  background-color: #3f53d8;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.access {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.access .access__info {
  width: 100%;
  max-width: 430px;
}
.access .access__info h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100%;
  max-width: 379px;
  font-weight: 400;
  font-size: 45px;
  line-height: 56px;
  letter-spacing: 1.44px;
}
.access .access__info p {
  margin-top: 26px;
  width: 100%;
  max-width: 425px;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #545479;
}
.access .access__info .access__grey-line {
  margin-top: 33px;
  width: 100%;
  display: block;
  border-bottom: 2px solid rgba(8, 8, 41, 0.3);
}
.access .access__info ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.access .access__info ul img {
  width: 100%;
  max-width: 126px;
}

.collab {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.collab h2 {
  width: 100%;
  max-width: 620px;
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 56px;
  letter-spacing: 1.44px;
  color: #080829;
}
.collab .collab__cards {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collab .collab__cards h3 {
  margin-top: 40px;
  font-weight: 400;
  font-size: 27px;
  line-height: 34px;
  letter-spacing: 0.56px;
  color: #080829;
}
.collab .collab__cards p {
  width: 100%;
  max-width: 340px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #545479;
}

.teams-saying {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 200px;
}
.teams-saying h2 {
  width: 100%;
  max-width: 760px;
  font-weight: 400;
  font-size: 43px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 1.44px;
  color: #080829;
}
.teams-saying .teams-saying__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}
.teams-saying .teams-saying__info .review {
  width: 100%;
  max-width: 746px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
}
.teams-saying .teams-saying__info .review ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams-saying .teams-saying__info .review ul img {
  margin-right: 16px;
}
.teams-saying .teams-saying__info .review .review__text {
  margin-top: 34px;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.64px;
  color: #080829;
}
.teams-saying .teams-saying__info .review .review__autor {
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.48px;
  color: #080829;
  margin-top: 35px;
}
.teams-saying .teams-saying__info .review .review__img {
  width: 100%;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teams-saying .teams-saying__info .review .review__img .arrowLeft {
  margin-right: 24px;
}

.watch {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watch .watch__demo {
  width: 100%;
  max-width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watch .watch__demo p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.watch .watch__stats {
  width: 100%;
  max-width: 793px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watch .watch__stats > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: 220px;
  flex-direction: column;
}
.watch .watch__stats .watch__number {
  font-weight: 400;
  font-size: 44px;
  line-height: 58px;
  letter-spacing: 1.44px;
}
.watch .watch__stats .watch__blue-plus {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1.44px;
  color: #3f53d8;
}
.watch .watch__stats .watch__info {
  margin-top: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #545479;
}

.services {
  margin-top: 130px;
  widows: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.services h2 {
  width: 100%;
  max-width: 580px;
  font-weight: 400;
  font-size: 47px;
  line-height: 56px;
  text-align: right;
  letter-spacing: 1.44px;
}
.services .services__kinds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
}
.services .services__kinds .services__box-kinds {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .services__kinds .services__box-kinds:nth-child(1) {
  width: 100%;
  max-width: 1000px;
}
.services .services__kinds .services__box-kinds:nth-child(n+2) {
  margin-top: 95px;
  width: 100%;
  max-width: 1160px;
}
.services .services__kinds .services__box-kinds > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
}
.services .services__kinds .services__box-kinds img:nth-child(2n) {
  position: relative;
  top: 20px;
}

.articles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
}
.articles h2 {
  font-weight: 400;
  font-size: 43px;
  line-height: 56px;
  letter-spacing: 1.44px;
}
.articles > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.articles .articles__article {
  width: 100%;
  max-width: 360px;
}
.articles .articles__article .article__named {
  margin-top: 31px;
  width: 100%;
  max-width: 115px;
  min-height: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.36px;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles .articles__article .purple {
  background-color: rgba(162, 89, 255, 0.3);
}
.articles .articles__article .pink {
  background-color: rgba(250, 91, 104, 0.3);
}
.articles .articles__article .blue {
  background-color: rgb(217, 222, 255);
}
.articles .articles__article .articles__info {
  margin-top: 27px;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 0.52px;
}
.articles .articles__article .articles__grey-line {
  margin-top: 20px;
  width: 100%;
  display: block;
  border-bottom: 2px solid rgba(8, 8, 41, 0.3);
}
.articles .articles__article .articles__date-time {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 220px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.36px;
}

.last-start {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 1000px;
  margin: 0 auto;
  background-image: url("../static/img/love.png");
  background-size: 100%;
}
.last-start .last-start__bg {
  position: absolute;
  z-index: -1;
  border-radius: 14px;
}
.last-start h2 {
  width: 100%;
  max-width: 850px;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  letter-spacing: 2.16px;
}
.last-start button {
  margin-top: 65px;
  width: 240px;
  height: 60px;
  border: 0;
  border-radius: 14px;
  background-color: #3f53d8;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.last-start .no-credit {
  position: relative;
  left: 220px;
  bottom: 60px;
}/*# sourceMappingURL=index_main.css.map */