$jakarta: "Plus Jakarta Sans", sans-serif;
@mixin flexNorm($a: space-between, $b: center) {
	display: flex;
	justify-content: $a;
	align-items: $b;
}

@mixin myWidth($a) {
	width: 100%;
	max-width: $a;
}

.container {
	margin: 0 auto;
	@include myWidth(1200px);
}

main {
	margin-top: 70px;
}

.start {
	@include flexNorm();
	height: 617px;
	.start-left {
		@include flexNorm(space-between, baseline);
		flex-direction: column;
		h1 {
			font-family: $jakarta;
			font-weight: 400;
			font-size: 63px;
			line-height: 79px;
			@include myWidth(470px);
		}
		p {
			font-family: $jakarta;
			font-weight: 400;
			font-size: 18px;
			line-height: 29px;
			@include myWidth(495px);
			letter-spacing: 0.36px;
		}
		.start__actions {
			margin-top: 23px;
			@include flexNorm(space-between, center);
			max-width: 455px;
			width: 100%;
			a {
				@include myWidth(240px);
			}
			button {
				width: 100%;
				height: 59px;
				background-color: rgba(63, 83, 216, 1);
				border-radius: 14px;
				border: 0px solid;

				color: white;
				font-family: $jakarta;
				font-weight: 400;
				font-size: 18px;
				line-height: 20px;
			}
		}
	}
}

.tearms {
	margin-top: 70px;
	@include flexNorm(space-between, center);
	flex-direction: column;
	height: 155px;
	h2 {
		font-family: $jakarta;
		font-weight: 400;
		font-size: 22px;
		line-height: 31px;
	}
	ul {
		@include flexNorm(space-beetwen, center);
		flex-wrap: wrap;
	}
}

.features {
	margin-top: 150px;
	@include flexNorm(space-beetwen, center);
	flex-direction: column;
	h2 {
		font-family: $jakarta;
		font-weight: 400;
		font-size: 43px;
		line-height: 56px;
	}
	p {
		margin-top: 10px;
		font-weight: 400;
		font-size: 18px;
		line-height: 29px;
	}
	.features__cards {
		margin-top: 110px;
		@include myWidth(1100px);
		@include flexNorm(space-between, center);
		flex-wrap: wrap;
		.features__card {
			@include myWidth(230px);
			@include flexNorm(space-berween, center);
			flex-direction: column;
			margin-bottom: 150px;
			img {
				margin-bottom: 30px;
			}
			p {
				font-family: $jakarta;
			}
		}
	}
}

.coll-ship-faster {
	width: 100%;
	padding: 0 20px;
	@include flexNorm(space-between);
	h2 {
		font-family: $jakarta;
		@include myWidth(410px);
		font-weight: 400;
		font-weight: 400;
		font-size: 42px;
		line-height: 56px;
		letter-spacing: 1.44px;
	}
	.coll-ship-faster__info > p {
		margin-top: 27px;
		@include myWidth(420px);
		font-weight: 400;
		font-size: 18px;
		line-height: 29px;
		letter-spacing: 0.36px;
		color: #545479;
	}
	.coll-ship-faster__pluses {
		margin-top: 35px;
	}
	.coll-ship-faster__pluses p {
		font-weight: 400;
		font-size: 16px;
		line-height: 29px;
		letter-spacing: 0.36px;
		margin-bottom: 20px;
		margin-left: 35px;
	}
	.coll-ship-faster__pluses p:nth-child(2) {
		font-size: 18px;
	}
	button {
		margin-top: 48px;
		@include myWidth(174px);
		border: 0;
		border-radius: 14px;
		background-color: #3f53d8;
		height: 60px;

		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.4px;
		color: #ffffff;
	}
}

.build {
	width: 100%;
	padding: 0 20px;
	@include flexNorm(space-between, center);
	> img {
		width: 760px;
	}
	h2 {
		font-family: $jakarta;
		@include myWidth(410px);
		font-weight: 400;
		font-size: 42px;
		line-height: 56px;
		letter-spacing: 1.44px;
	}
	.build__info > p {
		margin-top: 27px;
		@include myWidth(420px);
		font-weight: 400;
		font-size: 18px;
		line-height: 29px;
		letter-spacing: 0.36px;
		color: #545479;
	}
	.build__pluses {
		margin-top: 45px;
		@include flexNorm(space-between, center);
		p {
			@include myWidth(300px);
			font-weight: 400;
			font-size: 16px;
			line-height: 29px;
			letter-spacing: 0.36px;
			margin-left: 24px;
			&:nth-child(1) {
				margin-bottom: 15px;
			}
		}
	}
	button {
		margin-top: 48px;
		@include myWidth(174px);
		border: 0;
		border-radius: 14px;
		background-color: #3f53d8;
		height: 60px;

		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.4px;
		color: #ffffff;
	}
}

.access {
	width: 100%;
	padding: 0 20px;
	@include flexNorm(space-between, center);
	.access__info {
		@include myWidth(430px);

		h2 {
			font-family: $jakarta;
			@include myWidth(379px);
			font-weight: 400;
			font-size: 45px;
			line-height: 56px;
			letter-spacing: 1.44px;
		}
		p {
			margin-top: 26px;
			@include myWidth(425px);
			font-weight: 400;
			font-size: 17px;
			line-height: 29px;
			letter-spacing: 0.36px;
			color: #545479;
		}
		.access__grey-line {
			margin-top: 33px;
			width: 100%;
			display: block;
			border-bottom: 2px solid rgba(8, 8, 41, 0.3);
		}
		ul {
			@include flexNorm(space-between, center);
			flex-wrap: wrap;
			img {
				@include myWidth(126px);
			}
		}
	}
}

.collab {
	margin-top: 120px;
	width: 100%;
	@include flexNorm(space-between, center);
	flex-direction: column;
	h2 {
		@include myWidth(620px);
		font-style: normal;
		font-weight: 400;
		font-size: 43px;
		line-height: 56px;
		letter-spacing: 1.44px;
		color: #080829;
	}
	.collab__cards {
		margin-top: 80px;
		width: 100%;
		@include flexNorm(space-between, center);
		h3 {
			margin-top: 40px;
			font-weight: 400;
			font-size: 27px;
			line-height: 34px;
			letter-spacing: 0.56px;
			color: #080829;
		}
		p {
			@include myWidth(340px);
			margin-top: 20px;
			font-weight: 400;
			font-size: 16px;
			line-height: 29px;
			letter-spacing: 0.36px;
			color: #545479;
		}
	}
}

.teams-saying {
	@include flexNorm(space-between, center);
	flex-direction: column;
	@include myWidth(1040px);
	margin: 0 auto;

	margin-top: 200px;
	h2 {
		@include myWidth(760px);
		font-weight: 400;
		font-size: 43px;
		line-height: 56px;
		text-align: center;
		letter-spacing: 1.44px;
		color: #080829;
	}
	.teams-saying__info {
		@include flexNorm(space-between);
		width: 100%;
		margin-top: 80px;
		.review {
			@include myWidth(746px);
			@include flexNorm(space-between, baseline);
			flex-direction: column;
			ul {
				@include flexNorm(center, center);
				img {
					margin-right: 16px;
				}
			}
			.review__text {
				margin-top: 34px;
				font-weight: 400;
				font-size: 30px;
				line-height: 45px;
				letter-spacing: 0.64px;
				color: #080829;
			}
			.review__autor {
				font-weight: 400;
				font-size: 23px;
				line-height: 34px;
				letter-spacing: 0.48px;
				color: #080829;

				margin-top: 35px;
			}
			.review__img {
				width: 100%;
				margin-top: 46px;
				@include flexNorm(space-between, center);
				.arrowLeft {
					margin-right: 24px;
				}
			}
		}
	}
}

.watch {
	margin-top: 150px;
	width: 100%;
	@include flexNorm(space-between, center);
	.watch__demo {
		@include myWidth(220px);
		@include flexNorm(space-between, center);
		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
		}
	}
	.watch__stats {
		@include myWidth(793px);
		@include flexNorm(space-between, center);
		> div {
			@include flexNorm(space-between, baseline);
			@include myWidth(220px);
			flex-direction: column;
		}
		.watch__number {
			font-weight: 400;
			font-size: 44px;
			line-height: 58px;
			letter-spacing: 1.44px;
		}
		.watch__blue-plus {
			font-weight: 400;
			font-size: 48px;
			line-height: 58px;
			letter-spacing: 1.44px;
			color: #3f53d8;
		}
		.watch__info {
			margin-top: 20px;
			font-weight: 400;
			font-size: 17px;
			line-height: 27px;
			color: #545479;
		}
	}
}

.services {
	margin-top: 130px;
	widows: 100%;
	@include flexNorm();
	flex-direction: column;
	h2 {
		@include myWidth(580px);
		font-weight: 400;
		font-size: 47px;
		line-height: 56px;
		text-align: right;
		letter-spacing: 1.44px;
	}
	.services__kinds {
		@include flexNorm();
		flex-direction: column;
		margin-top: 100px;
		width: 100%;
		.services__box-kinds {
			@include flexNorm();
			&:nth-child(1) {
				@include myWidth(1000px);
			}
			&:nth-child(n + 2) {
				margin-top: 95px;
				@include myWidth(1160px);
			}
			> div {
				@include flexNorm();
				@include myWidth(480px);
			}
			img:nth-child(2n) {
				position: relative;
				top: 20px;
			}
		}
	}
}

.articles {
	width: 100%;
	@include flexNorm();
	flex-direction: column;
	margin-top: 140px;
	h2 {
		font-weight: 400;
		font-size: 43px;
		line-height: 56px;
		letter-spacing: 1.44px;
	}
	> div {
		width: 100%;
		@include flexNorm();
		margin-top: 80px;
	}
	.articles__article {
		@include myWidth(360px);
		.article__named {
			margin-top: 31px;
			@include myWidth(115px);
			min-height: 34px;
			font-weight: 400;
			font-size: 16px;
			line-height: 18px;
			letter-spacing: 0.36px;
			border: 0;
			border-radius: 10px;
			@include flexNorm(center, center);
		}
		.purple {
			background-color: rgba(162, 89, 255, 0.3);
		}
		.pink {
			background-color: rgba(250, 91, 104, 0.3);
		}
		.blue {
			background-color: rgba(217, 222, 255, 1);
		}
		.articles__info {
			margin-top: 27px;
			font-weight: 400;
			font-size: 24px;
			line-height: 39px;
			letter-spacing: 0.52px;
		}
		.articles__grey-line {
			margin-top: 20px;
			width: 100%;
			display: block;
			border-bottom: 2px solid rgba(8, 8, 41, 0.3);
		}
		.articles__date-time {
			margin-top: 25px;
			@include flexNorm();
			@include myWidth(220px);
			font-weight: 400;
			font-size: 16px;
			line-height: 18px;
			letter-spacing: 0.36px;
		}
	}
}
.last-start {
	@include myWidth(1440px);
	@include flexNorm(center);
	flex-direction: column;
	color: white;
	height: 1000px;
	margin: 0 auto;
	background-image: url("../static/img/love.png");
	background-size: 100%;
	.last-start__bg {
		position: absolute;
		z-index: -1;
		border-radius: 14px;
	}
	h2 {
		@include myWidth(850px);
		font-weight: 400;
		font-size: 64px;
		line-height: 79px;
		text-align: center;
		letter-spacing: 2.16px;
	}
	button {
		margin-top: 65px;
		width: 240px;
		height: 60px;
		border: 0;
		border-radius: 14px;
		background-color: #3f53d8;

		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.4px;
		color: #ffffff;
	}
	.no-credit {
		position: relative;
		left: 220px;
		bottom: 60px;
	}
}
